<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Enter Country ID</ion-label>
      <ion-input type="number" [(ngModel)]="countryID"></ion-input>
    </ion-item>
    <br>
    <h4>Player Age:</h4>
    <ion-item>
      <ion-label floating>Minimum</ion-label>
      <ion-input type="number" [(ngModel)]="minAge"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Maximum</ion-label>
      <ion-input type="number" [(ngModel)]="maxAge"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button (click)="save()">SAVE</button>
  <button ion-button (click)="cancel()">CANCEL</button>
  <button ion-button (click)="loadData()">Help Country ID</button>

  <ion-row class="header-row">

    <ion-col size="2" *ngIf="bulkEdit">
      Select
    </ion-col>
    <ion-col size="2" tappable (click)="sortByID('country_id')">
      ID
      <ion-icon name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
      <ion-icon name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
    </ion-col>
    <ion-col size="6" size-md="4" size-lg="2" tappable (click)="sortBy('name')">
      Country Name
      <ion-icon name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
      <ion-icon name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
    </ion-col>
    <ion-col size="2">
      Country Code
    </ion-col>
    <ion-col size="2">
      Continent
    </ion-col>
    <ion-col size="2" *ngIf="!bulkEdit">
      Action
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let row of dataGet; let i = index;">
    <ion-col size="2" *ngIf="bulkEdit">

    </ion-col>
    <ion-col size="2">
      {{row.country_id}}
    </ion-col>
    <ion-col size="6" size-md="4" size-lg="2">
      {{row.name}}
    </ion-col>
    <ion-col size="2">
      {{row.country_code}}
    </ion-col>
    <ion-col size="2">
      {{row.continent}}
    </ion-col>
    <ion-col size="2" *ngIf="!bulkEdit">

    </ion-col>
  </ion-row>


</ion-content>